:root {
  /*Serperior*/
  --darkestgreen: #0a2f1c;
  --darkergreen: #107339;
  --green: #41ae63;
  --lightgreen: #9cd59c;
  --darkyellow: #d59c08;
  --yellow: #ffcd29;
  --eye: #e47000;
  --grey: #e3e3e3;
  --white: #ffffff;
  /* Shiny Serperior*/
  --darkest: #000000;
  --darker: #2a454d;
  --blue: #437895;
  --folha: #5d9f42;
  --lime: #ace166;
  --eye2: #e02400;
  --pastelgreen: #d7e3bb;
}

* {
  margin: 0;
  padding: 0;
}
nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  justify-items: center;
  align-items: center;
  background-color: var(--lightgreen);
  color: var(--darkyellow);
  font-size: 20px;
}
.nav-main {
  display: flex;
  align-items: center;
  padding: 3px;
}
#nav-icon {
  max-width: 50px;
  padding: 5px 0;
  margin: 2px;
  border: solid var(--darkergreen) 2px;
  border-radius: 4px;
}
#nav-icon:hover{
   transform: scaleX(-1)
}
h1 {
  display: flex;
  max-height: 65px;
  align-items: center;
}
.links {
}
nav a {
  color: #0a2f1c;
  padding: 15px 10px;
  text-decoration: none;
}
nav a:hover {
  background-color: var(--darkyellow);
  border-radius: 3px;
}
#secret-nav {
  color: var(--lightgreen);
  border: none;
}
#secret-nav:hover {
  color: var(--darkestgreen);
}
body {
  background-color: var(--darkergreen);
}
h1,
h2,
h3 {
  color: aliceblue;
  text-decoration: underline green;
}

p {
  color: #d59c08;
}
.hero-img {
  max-width: 1580px;
}
